@page "/hamburguer/{slug}/{id}"
@model PokeStore.Pages.DetailModel
@{
}

<h2 class="my-3">@Model.Product.ProductName</h2>

<div class="row">

    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Product.ProductImage" />
    </div>

    <div class="col-6">
        <h4 class="my-3">Sobre: </h4>
        <p>@Model.Product.ProductDescription</p>
        <h4 class="my-3">Mais Info:</h4>
        <ul>
            <li><label asp-for="Product.ProductPrice"></label>: @Html.DisplayFor(model => model.Product.ProductPrice)</li>
            <li><label asp-for="Product.IsAvailable"></label>: @Model.Product.IsAvailableFormated</li>
            <li><label asp-for="Product.RegistrationDate"></label>: @Html.DisplayFor(model => model.Product.RegistrationDate)</li>
        </ul>
        <a class="btn my-3 btn-primary" asp-page="/EditProduct" asp-route-id="@Model.Product.ProductId">Editar</a>
    </div>

</div>

