@page
@model ListModel
@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="row justify-content-md-center">

    <h1>@ViewData["Title"]</h1>

    @if (TempData["TempMensagemSucesso"] != null)
    {
        <div class="alert alert-sucess mt-5" role="alert" style="width: 80%">
            <h4 class="alert-heading">Sucesso!</h4>
            Operação realizada com sucesso!
        </div>
    }

    @foreach (var item in Model.ProductList)
    {
        <div class="card col-3 m-3">
            <img src="@item.ProductImage" class="p-3" style="border-radius: 25px" />
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.ProductDescription</p>
                <a class="btn btn-primary"
                   asp-page="/Detail"
                   asp-route-id="@item.ProductId"
                   asp-route-slug="@item.ProductNameSlug">Ver mais</a>
            </div>
        </div>
    }

</div>
